* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: rgba(170, 126, 111, 0.589);
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.block span {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: olive;
}
.block input {
    margin-right: 10px;
    border-radius: 3px;
    min-height: 20px;
    max-width: 70px;
    border: 1px solid black;
    padding: 5px 10px;
}

.block input:focus {
    outline: none;
    border-color: orange;
}

.block button {
    background-color: rgba(255, 166, 0, 0.705);
    border: 1px solid rgba(255, 68, 0, 0.712);
    border-radius: 3px;
    min-width: 70px;
    min-height: 30px;
    font-weight: bold;
}
.block button:hover {
    cursor: pointer;
    background-color: rgb(255, 145, 0);
}
.timer {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
